#galleries {
  text-align: center;
  
  .img-link {
    display: inline-block;
    overflow: hidden;

    img {
      width: 100%;
      transform: scale(1);
      transition: .3s ease-in-out;
    }
    
    img:hover {
      transform: scale(1.3);
    }
  }

  .gallery-title {
    margin-top: 0;
    margin-bottom: 60px;
  }
}