#menu {
  ul.social-icons {
    position: absolute;
    top: 0; 
    right: 0;
    padding-right: 30px;
    font-size: 24px;

    li {
      display: inline-block;
      padding: 3px;
    }
  }

  #curveDownColor path {
    fill: #C7D6CF;
    stroke: #C7D6CF;
  }
}

menu {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  background-color: white;
  width: 100%;
  font-size: 24px;
  
  &#main-menu{
    display: none;

    @media (#{$bp-larger-than-tablet}){
      display: inline-block;
      text-align: center;
    }

    ul {
      display: inline-block;

      li {
        padding: 12px;
      }
    }
  }

  &#responsive-menu{
    text-align: left;

    @media (#{$bp-larger-than-tablet}){
      display: none;
    }

    &.open {
      box-shadow: 0px 5px 5px 0px rgba(9,9,9,0.5);

      ul {
        li {
          padding-left: 15px;
          display: block;
          float: none;
          text-align: left;

          @media (#{$bp-larger-than-tablet}){
            display: inline-block;
          }
        }
      }
    }

    .responsive-icon {
      float: right;
      margin-right: 20px;

      @media (#{$bp-larger-than-tablet}){
        display: none;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    padding: 14px 16px;
  }

  .logo {
    display: inline-block;
    position: relative;
    z-index: 100;
    top: 0;

    @media (#{$bp-larger-than-tablet}){
      vertical-align: middle;
      left: auto;
    }
    
    img {
      background-color: white;
      width: 160px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {     
      display: none;

      @media (#{$bp-larger-than-tablet}){
        display: inline-block;
      }
      a {
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
