body#index {
  margin: 0;
  height: 100%;

  main {
    margin: auto;

    section.hero {
      background: url(/assets/images/background.jpg) no-repeat center center;
      background-position-x: 20%;
      background-size: cover;
      min-height: 600px;
      margin-bottom: 100px;
    }

    section.quote {
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px;

      q {
        padding: 10px 30px;
        font-size: 3rem;
        line-height: 5rem;
        font-weight: 100;
        font-family: 'Dancing Script', cursive;
      }
    }

    section.welcome {
      background-color: $mint;  
    }
  }

  #curveUpColor {
    margin-bottom: -12px;
    margin-top: 100px;
    
    path {
      fill: $mint;
      stroke: $mint;
    }
  }
}
