body#index {
  margin: 0;
  height: 100%;

  main {
    margin: auto;
    
    section {
      padding: 60px 0 0 0;
      margin: auto;
    }

    section.hero {
      max-width: 1100px;
      margin: 0 auto;
      background: url(/assets/images/background.jpg) no-repeat center center;
      background-position-x: 20%;
      background-size: cover;
      min-height: 600px;
    }

    section.quote {
      header {
        color: black;
        font-weight: normal;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        width: 100%;

        h1 {
          text-align: center;
          margin: 0;
          padding: 10px 30px;
          font-size: 3rem;
          line-height: 5rem;
          font-weight: 100;
          font-family: 'Dancing Script', cursive;
        }
      }
    }

    section.welcome {
      padding: 60px 60px; 
      background-color: #C7D6CF;  
      font-size: 1.8rem;

      .wrapper {
        margin: auto;
        max-width: 1100px;
      }
    }
  }

  #curveUpColor {
    margin-bottom: -10px;

    path {
      fill: #C7D6CF;
      stroke: #C7D6CF;
    }
  }
}
