body#services {
  #curveUpColor {
    margin-bottom: -10px;

    path {
      fill: #C7D6CF;
      stroke: #C7D6CF;
    }
  }

  main {
    background-color: #C7D6CF;
    margin: auto;
    text-align: center;
    padding: 20px;

    .wrapper {
      max-width: 900px;
      margin: auto;
    }
    section {
      text-align: left;
    }
  }
}