body#services {
  #curveUpColor {
    margin-bottom: -12px;

    path {
      fill: $mint;
      stroke: $mint;
    }
  }

  main {
    background-color: $mint;
    margin: auto;
    text-align: center;
    
    section {
      text-align: left;
    }

    .additional-info {
      padding-top: 20px;
    }
  }
}