<noscript><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Alex+Brush|Italianno" rel="stylesheet"></noscript>
<script>
window.onload = function() {
  loadStyleSheet("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Alex+Brush|Italianno");
};

function loadStyleSheet(src) {
  if (document.createStyleSheet){
    document.createStyleSheet(src);
  }
  else {
    var stylesheet = document.createElement('link');
    stylesheet.href = src;
    stylesheet.rel = 'stylesheet';
    stylesheet.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(stylesheet);
  }
}
</script>

<script src="https://use.fontawesome.com/5bc65f7adc.js"></script>
<script type="text/javascript" src="/assets/js/main.bundle.js"></script>
