<menu id="main-menu">
  <ul class="left">
    <li><a href="/">Home</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
  <a class="logo" href="/"><img src="/assets/images/logo-new.jpg" alt="kelsey anne weddings logo" width="160"></a>
  <ul class="right">
    <li><a href="/about.html">About</a></li>
    <li><a href="/services.html">Services</a></li>
  </ul>
</menu>

<menu id="responsive-menu">
  <a class="responsive-icon" href="javascript:void(0);" onclick="nav.openClose();">&#9776;</a>
  <a class="logo" href="/">
    Kelsey Anne Weddings
  </a>
 
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/services.html">Services</a></li>
  </ul>
</menu>
