<div id="menu">
  <svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none">
    <path d="M0 0 C 80 160 100 60 200 0 Z"></path>
  </svg>

  <ul class="social-icons">
    <!--
    <li><a href="/contact.html"><i class="fa fa-envelope" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></a></i></li>
    -->
    <li><a href="https://www.instagram.com/kelseyanneweddings" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></a></i></li>
  </ul>

  <menu id="main-menu">
    <ul class="left">
      <li><a href="/">Home</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
    <a class="logo" href="/"><img src="/assets/images/logo-new.jpg" alt="kelsey anne weddings logo" width="160"></a>
    <ul class="right">
      <li><a href="/services.html">Services</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </menu>

  <menu id="responsive-menu">
    <a class="responsive-icon" href="javascript:void(0);" onclick="nav.openClose();">&#9776;</a>
    <a class="logo" href="/">
      Kelsey Anne Weddings
    </a>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/services.html">Services</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </menu>
</div>