<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo2.png">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>

<body id="about">
  {% include "partials/_menu.html" %}

  <main>
    <h1>About</h1>

    <section class="about content-wrapper">
      <img src="/assets/images/kelsey_headshot.jpg" alt="kelsey anne weddings logo" width="160" ALIGN=”left” HSPACE=”50” VSPACE=”50”>
      <p>
        I love weddings and everything about them! This is my passion and I promise to take great care of this big day for you. 
        I’m passionate, organized, detail oriented and conscientious. I graduated from college in 2012 with a degree in Communications 
        and have my Wedding Planning Certificate. Once I graduated I took on a position at a prominent resort in the Lehigh Valley 
        where I had detailed insight into the event industry for 5 years. It is my goal to make your wedding day better than you 
        could have ever imagined. An interesting fact about me is that I have an addiction to pickles and love anything with the 
        flavor of salt and vinegar. When I’m not coordinating a wedding I enjoy working out, reading, baking, spending time with 
        loved ones and my cute Daschund named Otter. A beloved hobby of mine is traveling and getting to experience new adventures! 
        My other passion is being around kids. I enjoy being a family's nanny and serving in the children’s ministry at my church. 
        My favorite part of a wedding is watching the groom’s reaction to his bride walking down the aisle to him. I always tear up!
      </p>
    </section>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>
</html>