<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo2.png">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine|Dancing+Script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>

<body id="index">
  {% include "partials/_menu.html" %}

  <main>
    <section class="hero">
    </section>
    <section class="quote">
      <header>
        <h1>
          <q>
            The most beautiful things in the world cannot be seen or touched, they are felt with the heart.
          </q>
          <br> 
          <small>-The Little Prince</small>
        </h1>
      </header>
    </section>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>

</html>