<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo2.png">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>

<body id="services">
  {% include "partials/_menu.html" %}

  <svg id="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>

  <main>
    <h1>Services</h1>
    
    <div class="content-wrapper">
      <section class="service">
        <header>Full Service Coordination</header>
        <p>
          <ul>
            <li>Consultation</li>
            <li>Unlimited planning meetings</li>
            <li>Detailed planning</li>
            <li>Site visit & wrap up meeting</li>
            <li>Week of wedding organization</li>
            <li>Vendor confirmation</li>
            <li>Point of contact for your Vendors the day of the wedding</li>
            <li>Timelines & checklists</li>
            <li>Weekly check-in meetings</li>
            <li>Drop off of items</li>
            <li>Attend all vendor meetings/wedding meetings</li>
            <li>Rehearsal coordination</li>
            <li>Day-of setup</li>
            <li>Coordination for ceremony and reception</li>
          </ul>
        </p>
      </section>

      <section class="service">
        <header>Coordination</header>
        <p>
          <ul>
            <li>Consultation</li>
            <li>One planning meeting</li>
            <li>Week of wedding organization</li>
            <li>Timelines & checklists</li>
            <li>Drop off of items</li>
            <li>Vendor confirmation</li>
            <li>Site visit & wrap up meeting</li>
            <li>Rehearsal coordination</li>
            <li>Day-of setup</li>
            <li>Coordination for ceremony</li>
          </ul>
        </p>
      </section>

      <section class="service">
        <header>Day-of Coordination</header>
        <p>
          <ul>
            <li>Consultation</li>
            <li>One planning meeting</li>
            <li>Timelines and checklists</li>
            <li>Vendor confirmation</li>
            <li>Site visit & wrap up meeting</li>
            <li>Week of wedding organization</li>
            <li>Drop off of items</li>
            <li>Day-of setup</li>
          </ul>
        </p>
      </section>

      <p class="additional-info">
        *Breakdown - Cleanup Breakdown of all items including but not limited to, centerpieces, decorations, and bride and groom
        items. This can be added to any package for an additional fee.
      </p>
    </div>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>

</html>