<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings"> {% include "partials/_header-scripts.html" %}

</head>

<body id="services">
  {% include "partials/_menu.html" %}

  <svg id="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>

  <main>
    <h1>Services</h1>

    <hr />

    <div class="content-wrapper">
      <div class="pricing-table">
        <div class="service">
          <ul class="price">
            <li class="header">Day-of Wedding</li>
            <li>Consultation</li>
            <li>1 planning meeting</li>
            <li>Timelines and checklists</li>
            <li>Vendor confirmation</li>
            <li>Site visit & wrap up meeting</li>
            <li>Week of wedding organization</li>
            <li>Drop off of items</li>
            <li>Day-of setup</li>
            <li>
              <a href="/contact.html?service=day-of" class="button">Contact</a>
            </li>
          </ul>
        </div>

        <div class="service">
          <ul class="price">
            <li class="header">Coordination</li>
            <li>All
              <b>
                <i>Day-of Wedding</i>
              </b> services</li>
            <li>
              <span class="plus">+</span>Rehearsal coordination</li>
            <li>
              <span class="plus">+</span>Ceremony coordination</li>
          </ul>
          <footer>
            <div class="bottom">
              <a href="/contact.html?service=coordination" class="button">Contact</a>
            </div>
          </footer>
        </div>

        <div class="service">
          <ul class="price">
            <li class="header">Custom Package</li>
            <li>Create your own experience</li>
          </ul>
          <footer>
            <div class="bottom">
              <a href="/contact.html?service=full" class="button">Contact</a>
            </div>
          </footer>
        </div>
      </div>

      <p class="additional-info">
        *Breakdown - Cleanup Breakdown of all items including but not limited to, centerpieces, decorations, and bride and groom
        items. This can be added to any package for an additional fee.
      </p>
    </div>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>

</html>