<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo2.png">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>

<body id="services">
  {% include "partials/_menu.html" %}

  <main>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>
</html>