<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Kelsey Anne Weddings - Wedding Planning</title>
  <meta name="description" content="Kelsey Anne Weddings">
  
  {% include "partials/_header-scripts.html" %}

</head>

<body id="testimonials">
  {% include "partials/_menu.html" %}

  <h1>Kind Words</h1>
  
  <hr />
  
  <main>
    <section class="testimonials content-wrapper">
      {% for testimonial in testimonials %}
      <div class="testimonial">
        <div class="testimonial-head">
          <img class="image" src={{testimonial.fields.image.fields.file.url + '?w=200&h=200&fit=fill'}} width="200" height="200" />

          <blockquote class="snippet">
            {{testimonial.fields.snippet}}
          </blockquote>
        </div>

        <blockquote class="testimonial-foot">
          <p class="description">
            {{testimonial.fields.description}}
          </p>

          <p class="by">{{testimonial.fields.by}}</p>
        </blockquote>
      </div>
      {% endfor %}
    </section>
  </main>

  {% include "partials/_footer-scripts.html" %}
</body>
</html>