html {
  font-size: 10px;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 30px;
  color: #090909;
  background-color: white;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #090909;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;

  main {
    padding: 20px 0 0 0;
  }

  a {
    color: #090909;
  }

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 7rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    line-height: 60px;
  }

  p {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
  }
}

.content-wrapper {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
