html {
  font-size: 10px;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 30px;
  color: #777;
  background-color: white;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}