html, body, main {
  height: 100%;
}

body#index {
  background: url(/assets/images/background.jpeg) no-repeat center center fixed; 
  background-position-x: 20%;
  background-size: cover;

  color: #fff;
  margin: 0;
}

main {
  header {
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    h1 {
      margin: 0;
      padding: 20px;
      font-size: 10rem;
      font-weight: 100;
    }
  }
}
