html, body, main {
  height: 100%;
}

body#index {
  background: url(/assets/images/background.jpeg) no-repeat center center fixed; 
  background-position-x: 20%;
  background-size: cover;

  margin: 0;
}

main {
  header {
    color: #fff;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    h1 {
      margin: 0;
      padding: 10px 20px;
      font-size: 10rem;
      line-height: 10rem;
      font-weight: 100;
    }
  }
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}
